* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;

  font-family: "Poppins", sans-serif;
}

button,
input {
  border: none;
  outline: none;
}

.container {
  width: 400px;
  min-height: 500px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 15px;
  border-radius: 10px;
}

.searchbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.searchbox button {
  width: 50px;
  height: 50px;
  background-image: url("../icons/search.svg");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.searchbox button:hover {
  transform: translateY(-2px);
  transition: transform 0.2s;
}

.searchbox button:active {
  transform: translateY(2px);
  transition: transform 0.2s;
}

.searchbox input {
  height: 50px;
  width: 90%;
  padding-left: 15px;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 16px;
}

.details {
  gap: 4rem;
}

.details,
.condition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp {
  font-size: 52px;
  font-weight: 300;
}

.condition img {
  width: 250px;
}

.more {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.humidity img,
.wind img {
  width: 60px;
}

.humidity,
.wind {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.humidity p,
.wind p {
  font-size: 24px;
}


@media (max-width: 768px){
  .humidity img,
.wind img {
  width: 40px;
}
}